<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
    <sitecore>
        <sites>
            <site patch:before="site[@name='website']"
                  name="hackathon"
                  hostName="hackathon2021sc.dev.local"
                  targetHostName="hackathon2021sc.dev.local"
                  scheme="http"
                  language="en"
                  virtualFolder="/"
                  physicalFolder="/"
                  rootPath="/sitecore/content/Hackathon"
                  startItem="/home"
                  database="web"
                  domain="extranet"
                  cacheHtml="true"
                  htmlCacheSize="200MB"
                  registryCacheSize="0"
                  viewStateCacheSize="0"
                  xslCacheSize="2MB"
                  filteredItemsCacheSize="2MB"
                  allowDebug="true"
                  enablePreview="true"
                  enableWebEdit="true"
                  enableDebugger="true"
                  disableClientData="false"                                   
		/>
        </sites>
    </sitecore>
</configuration>
