<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
    <sitecore>
        <mediaLibrary>
            <mediaTypes>
                <mediaType name="Windows Bitmap image" extensions="bmp, dib">
                    <sharedTemplate >system/media/unversioned/crowdsourcedimage</sharedTemplate>
                    <versionedTemplate>system/media/versioned/image</versionedTemplate>
                </mediaType>
                <mediaType name="GIF image" extensions="gif">
                    <sharedTemplate>system/media/unversioned/crowdsourcedimage</sharedTemplate>
                    <versionedTemplate>system/media/versioned/image</versionedTemplate>
                </mediaType>
                <mediaType name="JPEG image" extensions="jpg, jpeg, jpe, jfif">
                    <sharedTemplate>system/media/unversioned/crowdsourcedimage</sharedTemplate>
                    <versionedTemplate>system/media/versioned/image</versionedTemplate>
                </mediaType>
                <mediaType name="PNG image" extensions="png">
                    <sharedTemplate>system/media/unversioned/crowdsourcedimage</sharedTemplate>
                    <versionedTemplate>system/media/versioned/image</versionedTemplate>
                </mediaType>
            </mediaTypes>
        </mediaLibrary>
    </sitecore>
</configuration>
