<?xml version="1.0"?>
<appSettings configBuilders="SitecoreAppSettingsBuilder">
    <add key="EmailReminder.FromAddress" value="name@server.net" />
    <!-- NetSpell directory -->
    <add key="DictionaryFolder" value="/sitecore/shell/controls/rich text editor/Dictionaries/" />
    <add key="Lucene.Net.FSDirectory.class" value="Sitecore.Search.FSDirectory, Sitecore.Kernel" />
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
    <!-- Telerik keys -->
    <add key="Telerik.AsyncUpload.ConfigurationEncryptionKey" value="p9PnWM6JVHl6i0aSgP7mjNpgFREYWXQZNl5YHPdoz03y9qwFVBusSVFJIHwvuuqfAiwSOT2C8y4tdnEXaEXoPaGjbrH8DpbTaYgGbbs4gO0pWphEJMxksBWy8Ryj1XUKZkucRwOvzNxNqpUYED5aFML8rE8vdyfk82QNx6t5AtqWpvVKhTgeN7h6XrniWgotQ1hRBFanr8Zw2EZnFE62bu1YRt3wRYBnbrCvN5JljTEP4MFHjbJGdKbF5AOypQ7y" />
    <add key="Telerik.Upload.ConfigurationHashKey" value="p9PnWM6JVHl6i0aSgP7mjNpgFREYWXQZNl5YHPdoz03y9qwFVBusSVFJIHwvuuqfAiwSOT2C8y4tdnEXaEXoPaGjbrH8DpbTaYgGbbs4gO0pWphEJMxksBWy8Ryj1XUKZkucRwOvzNxNqpUYED5aFML8rE8vdyfk82QNx6t5AtqWpvVKhTgeN7h6XrniWgotQ1hRBFanr8Zw2EZnFE62bu1YRt3wRYBnbrCvN5JljTEP4MFHjbJGdKbF5AOypQ7y" />
    <add key="Telerik.Web.UI.DialogParametersEncryptionKey" value="p9PnWM6JVHl6i0aSgP7mjNpgFREYWXQZNl5YHPdoz03y9qwFVBusSVFJIHwvuuqfAiwSOT2C8y4tdnEXaEXoPaGjbrH8DpbTaYgGbbs4gO0pWphEJMxksBWy8Ryj1XUKZkucRwOvzNxNqpUYED5aFML8rE8vdyfk82QNx6t5AtqWpvVKhTgeN7h6XrniWgotQ1hRBFanr8Zw2EZnFE62bu1YRt3wRYBnbrCvN5JljTEP4MFHjbJGdKbF5AOypQ7y" />
    <!-- Throttle concurrent requests per session specifies how many requests with same Session ID are allowed to be executed simultaneously. -->
    <add key="aspnet:RequestQueueLimitPerSession" value="25" />
    <!-- SUPPORTED SERVER ROLES     
         Specify the roles that you want this server to perform. A server can perform one or more roles. Enter the roles in a comma separated list. The supported roles are:

         ContentDelivery
         ContentManagement
         ContentDelivery, Indexing
         ContentManagement, Indexing
         Processing
         [Obsolete] Reporting
         Standalone
          
    Default value: Standalone
    -->
    <add key="role:define" value="Standalone" />
    <!-- SUPPORTED SEARCH PROVIDERS     
         Specify the search provider that you want this server to use. The supported search providers are:
    
         Solr
         Azure
    
    Default value: Solr
    -->
    <add key="search:define" value="Solr" />
    <!-- SUPPORTED MEMBERSHIP CONFIGURATION FOR CONTENT DELIVERY
         Specify the membership configuration that you want this server to use for Content Delivery role. The supported options are:

         Sitecore
         None
          
    Default value: Sitecore
    -->
    <add key="security:define" value="Sitecore" />
    <add key="owin:appStartup" value="Sitecore.Owin.Startup, Sitecore.Owin" />
    <add key="messagingTransport:define" value="SQL" />
    <add key="marketingDefinitionsAssignment:define" value="Both" />
    <add key="eds:define" value="CustomSMTP" />
    <add key="exmEnabled:define" value="yes" />
    <add key="AllowInvalidClientCertificates" value="false" />
    
    <!--Hackathon-->
    <add key="cognitiveServicesUri" value="https://hackathon2021.cognitiveservices.azure.com/"/>
    <add key="subscriptionKey" value="0fa78b2f8e354d7aba75eb3a30c6d474"/>
    <add key="location" value="eastus"/>
    <add key="descriptionsConfidenceLevel" value="0.75"/>
    
</appSettings>